<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.clean.mapper.FeedbackMapper">


    <insert id="saveFeedback" parameterType="Map">
        insert into feedback
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="feedbackText != null">
                feedbackText,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="feedbackText != null">
                #{feedbackText},
            </if>
        </trim>
    </insert>


</mapper>
