<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.clean.mapper.LookRecordMapper">

  <resultMap id="BaseResultMap" type="cn.clean.entity.LookRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="view_user_id" jdbcType="INTEGER" property="viewUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="is_abled" jdbcType="INTEGER" property="isAbled" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, view_user_id, create_time, `type`, is_abled
  </sql>

  <insert id="addLookRecord" parameterType="cn.clean.entity.LookRecord">
    insert into look_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="viewUserId != null">
        view_user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="isAbled != null">
        is_abled,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="viewUserId != null">
        #{viewUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="isAbled != null">
        #{isAbled,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="noSelectRecord" parameterType="Integer">
    update look_record
    set
      is_abled = 0
    where user_id = #{userId}
  </update>
</mapper>
