<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.clean.mapper.PermissionMapper">

    <update id="updatePer" >
        update permission set
        <foreach collection="map" item="item" index="key">
           ${key} = #{item}
        </foreach>
        where user_id = #{userId}
    </update>

    <update id="updateLocation">
        update permission p
        join `user` u
        on p.user_id = u.id
        set p.is_agree_location = #{map.is_agree_location},
        u.lat = #{map.lat},
        u.lng = #{map.lng},
        u.regions = #{map.regions}
        where u.id = #{userId}
    </update>

    <select id="selectUserPer" resultType="cn.clean.entity.Permission">
        select
           is_agree_home,
           is_agree_info,
           is_agree_dynamic,
           is_agree_location
        from permission
        where user_id = #{userId}
    </select>

</mapper>

