<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.clean.mapper.CloudUserMapper">
    <select id="getSysUser" parameterType="java.util.List" resultType="cn.clean.entity.CloudUser">
        select id,name,address from user where id  = #{id} and name = #{name}
    </select>

    <select id="getSysUser1" parameterType="java.util.List" resultType="cn.clean.entity.CloudUser">
        select address from user where id  = #{id} and name = #{name}
    </select>

    <select id="getSysUser2" resultType="cn.clean.entity.CloudUser">
        select id,name,address from user where id  = #{id} and name = #{name}
    </select>

    <sql id="base">
        id,name,address
    </sql>

    <select id="getSysUser3" parameterType="java.util.List" resultType="cn.clean.entity.CloudUser">
        select
        <include refid="base"/>
        from user where id in
        <foreach collection="jiruixin" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="getSysUser4" parameterType="java.util.List" resultType="cn.clean.entity.CloudUser">
        select id,name,address from ${arg0} where id in
        <foreach collection="arg1" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>