<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <environments default="dev">
        <!--可以配置多数据源 -->
        <environment id="dev">
            <!--事务管理，目前交给JDBC管理-->
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.ibm.db2.jcc.DB2Driver"/>
                <property name="url" value="jdbc:db2://127.0.0.1:50000/sync_s"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mybatis/DbMapper.xml"></mapper>
    </mappers>

</configuration>